<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= docTitle%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/tickets.css">
  <link rel="stylesheet" href="/css/bubble.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Railway</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a href="/admin/add-tickets">Add Tickets</a></li>
        <li class="active"><a href="/tickets" >Book Your  Tickets</a></li>
        <li ><a href="/search" >Search</a></li>
        <li><a href="/cart">Your booked Tickets</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <% if(tic.length > 0) {%>
        <% for (let i=0;i< tic.length ;i=i+8) { %>
    <div class="Container">
      <div class="card">
        <div class="box">
          <div class="content">
      <p>Source :-<%=tic[i+1]%></p>
      <p>Destination:-<%=tic[i+2]%></p>
      <p>Train No:-<%=tic[i+3]%></p>
      <p>ArrivalTime:-<%=tic[i+4]%></p>
      <p>Deputure Time:-<%=tic[i+5]%></p>
      <p>Date :- <%=tic[i+6]%></p>
      <p>Price:-<%= tic[i+7]%>&nbsp;Rs/-</p>
      <button type="submit"><a href="/admin/<%= tic[i]%>">Book</a></button>
              </div>
          </div>
      </div>
    </div>
    <%  }} else {%>
        <h1>No Tickets Are Avaliable</h1>
        <% } %>
</div>
<section>

</section>
</body>
<script type ="text/javascript" src="/css/bubble.js"></script>
</html>
